<ion-header>
  <ion-toolbar class="mi-toolbar">
    <ion-buttons slot="secondary">

     
      
    </ion-buttons>                 
  </ion-toolbar>

</ion-header>


<ion-content class="ion-padding ">
 
  <ion-content class="ion-padding">
    <div class="ion-text-center">
      <h1 style=" font-size: 46px;">Bienvenido @usuario</h1>
      <br>
      <p style="font-size: 14px;">Seleccione su sección</p>
      

  
  
        

      <br>
      <ion-button [routerLink]="['/home']" class="boton-ingresar" >aceptar</ion-button>

  
  
    </div>
  </ion-content>

  <div class="triangulo"></div>



</ion-content>

<ion-footer collapse="fade">

</ion-footer>



