<ion-header>
  <ion-toolbar class="mi-toolbar">
    <ion-buttons slot="secondary">

     
      
    </ion-buttons>                 
  </ion-toolbar>

</ion-header>


<ion-content class="ion-padding ">
 
  <ion-content class="ion-padding">
    <div class="ion-text-center">
      <h1 style=" font-size: 40px;">¿Has olvidado tu contraseña?</h1>
      
      <p style="font-size: 14px;">Podemos ayudarte con eso</p>

      <div class="logeando">

      
      <ion-input label="CORREO" label-placement="floating" fill="outline" placeholder="@duocuc.cl"></ion-input>


      </div>

      
  
  
        

      <br>
      <ion-button [routerLink]="['/confirmacion-restablecer']" class="boton-ingresar" >enviar</ion-button>

  
  
    </div>
  </ion-content>

  <div class="triangulo"></div>



</ion-content>

<ion-footer collapse="fade">

</ion-footer>





