
ion-toolbar {
  --background: #063779; 
}

.mi-toolbar {
  height: 70px; 
}

.logito {
  margin-top: 250px;  
}

.barritahome {
  width:270px;
  margin: 0 auto; /* Para centrar la barra en el contenido */
  margin-top: 30px;
}

